.wrapper {
    width: 50vw;
    margin-left: 32px;
}
.profile-key {
    margin-right: 16px;
    color: white;
    font-weight: 300;
    span {
        margin-right: 4px;
        color: var(--text-color);
    }
}

// General
.profile-general {
    width: 100%;
    &-title {
        font-size: 1.8rem;
        color: white;
        margin: 8px 0;
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &-list {
        list-style-type: none;
    }
}
.general {
    &-info {
        color: white;
    }
    &-change {
        font-size: 1.6rem;
        color: var(--main-color);
        background-color: transparent;
    }
}
.general-info {
    &-name {
        font-size: 2.2rem;
    }
    &-more {
        display: flex;
    }
}
.profile-general-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--second-color);
    &:last-child {
        border: none;
    }
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

@media (min-width: $desktop){
    
}
@media (max-width: $mobile) {
    .profile-content{
        width: 100%;
        text-align: left;
    }
    .wrapper{
        width: 100%;
        margin-left: 0px;
    }
    .general-info-more{
        display: flex;
        flex-wrap: wrap;
    }
    .profile-general-title{
        margin-top: 52px;
        font-size: 20px;
    }
    .profile-general-item{
        height: 56px;
    }
    .profile-key{
        margin-top: 12px;
    }
    .general-change{
        width: 50px;
        margin-top: 36px;
    }
    .general-info-name{
        font-size: 16px;
    }

}
